$unit: 10px;
$width: (4 * $unit);
$height: (4 * $unit);
$colorBlack: #000000;

body {
  background: url('../../images/green_background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
  background-size: cover;
  color: $font-color;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.board-row {
     white-space: nowrap;
     overflow: hidden;
     width: 80%;
   }

.board-row > .col-xs-4 {
  border: 2px solid $white;
  box-sizing: border-box;
  height: 12rem;
  padding: 2px;
  width: 25%;
  display: inline-block;
}

.navbar {
  clear: both;
}

.game-board {
  margin-left: 21%;
  text-align: center;
}

input {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: $colorBlack;
}

.modal-title {
  color: $colorBlack;
}

.sign-out-button {
  color: $colorBlack;
}
