$unit: 10px;
$width: (4 * $unit);
$height: (4 * $unit);

body {
  background: url('../../images/green_background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
  background-size: cover;
  color: $font-color;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.bottom-row > .col-xs-4,
.middle-row > .col-xs-4,
.top-row > .col-xs-4 {
  border: 2px solid $white;
  box-sizing: border-box;
  height: $height;
  margin: 3px;
  padding: 50px;
  width: $width;
}

.navbar {
  clear: both;
}

.game-board {
  margin: 0 35%;
  text-align: center;
}
