$unit: 30px;
$width: (4 * $unit);
$height: (3 * $unit);

body {
  background-color: $background-color;
  color: $font-color;
}

h1 {
  text-align: center;
}

.player-x-title {
  text-align: left;
}

.player-o-title {
  text-align: right;
}

.top-row  > .col-xs-4,
.middle-row  > .col-xs-4,
.bottom-row > .col-xs-4 {
  border: 2px solid $white;
  box-sizing: border-box;
  height: 100px;
  margin: 3px;
  padding: 50px;
  width: 100px;
}

.game-board {
  margin: 0 35%;
  text-align: center;
}
